<footer class="block-6" id="colophon">
  <!-- <span style="position: relative;">
    <img src="/assets/images/hole.svg" style="position: absolute; height: 25px; top: -2px; left: 35vw;">
    <img src="/assets/images/sprout.svg" style="position: absolute; height: 25px; top: -20px; left: 95vw;">
  </span> -->
  <div class="container-fluid">
    <div class="four columns footer-icons">
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@heisenhub%hub20is%20recruiting%20new%20members%20for%20Season%202"><span class="fab fa-twitter footer-icons"></span></a>
      <a href="https://patreon.com/heisen"><span class="fab fa-map-marker footer-icons"></span></a>
      <a href="#"><img src="/assets/icons/heisen_logo_white.png"></a>
      <a href="https://facebook.com/bikov.evgeni" target="_blank"><span class="fab fa-facebook-f footer-icons"></span></a>
      <a href="http://github.com/evgenity" target="_blank"><span class="fab fa-github footer-icons"></span></a><br>
      <span>meow@heisen.me</span><br>
      <span>Heisen © <script>document.write( new Date().getFullYear());</script></span>
    </div>
    <div class="eight columns wrap">
      <div class="col">
        <!-- <b>Проект</b> -->
        <a href="/team/">Команда</a><br>
        <a href="#" class="disabled">Проекты</a><br>
        <a href="#" class="disabled">Идеи проектов</a><br>
        <a href="/heisenhub/">Фид @heisenhub</a><br>
      </div>
      <div class="col">
        <!-- <b>Контакты</b> -->
        <a href="#" class="disabled">История</a><br>
        <a href="#" class="disabled">Партнеры</a><br>
        <a href="/podcasts/">Подкасты</a><br>
        <a href="/annual/">Ануал</a><br>
      </div>
      <div class="col">
        <!-- <b>Поддержка</b> -->
        <a href="/faq/">FAQ</a><br>
        <a href="#" class="disabled">Как доехать</a><br>
        <a href="#" class="disabled">Пресскит</a><br>
        <a href="/kartochka/">Реквизиты</a><br>
        <a href="#" class="disabled">Чем помочь</a><br>
      </div>

    </div>
  </div>
</footer>