  <meta charset="utf-8">
  <title>Heisen</title>

  {% include verification.html %}
  {% include socials.html %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/fafb9ab347.js"></script>
  <link rel="canonical" href="https://heisen.me/">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400" rel="stylesheet">

  <!-- Favicon part -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/images/manifest.json">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#00a300">
  <meta name="apple-mobile-web-app-title" content="Heisen.me">
  <meta name="application-name" content="Heisen.me">
  <meta name="theme-color" content="#ffffff">

  <!-- Style part -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/custom-heisen.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
  <link href="/assets/css/footer-style.css" rel="stylesheet" media="all">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  {% include zendesk.html %}