 <div class="row container">
  <div class="twelve columns nav-bar">
    <div class="eight columns nav-logo">
      <div class="brand">
        <div class="eight columns brand-name">
          <h5><a href="/" style="text-decoration: none; color: black;">Heisen</a></h5>
        </div>
      </div>
    </div>
    <div class="four columns nav-buttons">

      <div class="row twelve columns">
        <div class="four columns p-nav">
          <div >
            <a href="/team/" title="">Команда</a>
          </div>
        </div>

        <div class="four columns p-nav">
          <div >
            <a href="/faq/" title="">ФАК</a>
          </div>
        </div>

        <div class="four columns p-nav">
          <div >
            <a href="/annual/" title="">Ануал</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>