<meta name="author" content="">
<meta name="description" content="1 Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">
<meta property="og:title" content="Heisen.me">
<meta property="og:description" content="2 Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">
<meta property="og:url" content="https://heisen.me/">
<meta property="og:image" content="static/images/vk_logo.png">
<meta property="og:site_name" content="1 Heisen.me">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@heisenhub">
<meta name="twitter:creator" content="@heisenhub">
<meta name="twitter:description" content="3 Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">
<meta property="fb:admins" content="1312055486">
<meta property="article:publisher" content="1312055486">
<meta property="fb:app_id" content="1419810681377487">

<script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "EducationalOrganization",
      "name": "Heisen",
      "url": "https://heisen.me",
      "logo": "https://heisen.me/static/images/heisen_spaces_transparent_logo.png",
      "image": "https://heisen.me/static/images/heisen_spaces_transparent_logo.png",
      "description": "Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "3503 Jack Northrop Ave Suite AH761 ",
        "addressLocality": "Hawthorne",
        "addressRegion": "CA",
        "postalCode": "90250",
        "addressCountry": "USA"
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+7 (985) 128-37-08",
        "contactType" : "customer service"
      }
    }
  </script>

  <script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'ru'}
  </script>