<!DOCTYPE html>
<html lang="ru">
<!-- Привет, русские хакеры. Денег зашлите лучше, мы хорошее дело делаем, вы же белые хакеры 0x30C3931017C867EfCF60d7d2b57DFe08bC7f7CCD (ETH), 178r6jWZfWJc88qFFgc6NJNgnzK6oSqWvW (BTC) -->
<html>
<head>
    <meta charset="utf-8">
    <title>Heisen</title>

        <meta name="google-site-verification" content="etbSm07uPvzzEE7_TUfhtZnMnyWOdGudogV4NXqfWrg" />
        <meta name="yandex-verification" content="b205865322bb578f" />
          <meta name="yandex-verification" content="c4fdcef24d5464af" />
          <meta name="author" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <script src="https://use.fontawesome.com/fafb9ab347.js"></script>
          <meta name="description" content="Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">

          <meta property="og:title" content="Heisen.me">
          <meta property="og:description" content="Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">
          <link rel="canonical" href="https://heisen.me/">
          <meta property="og:url" content="https://heisen.me/">
          <meta property="og:image" content="static/images/vk_logo.png">
          <meta property="og:site_name" content="Heisen.me">
          <meta name="twitter:card" content="summary">
          <meta name="twitter:site" content="@heisenhub">
          <meta name="twitter:creator" content="@heisenhub">
          <meta name="twitter:description" content="Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">
          <meta property="fb:admins" content="1312055486">
          <meta property="article:publisher" content="1312055486">
          <meta property="fb:app_id" content="1419810681377487">
          <link href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400" rel="stylesheet">
          <!-- Schema Structured Data -->
          <script type='application/ld+json'>
        {
          "@context": "http://www.schema.org",
          "@type": "EducationalOrganization",
          "name": "Heisen",
          "url": "https://heisen.me",
          "logo": "https://heisen.me/static/images/heisen_spaces_transparent_logo.png",
          "image": "https://heisen.me/static/images/heisen_spaces_transparent_logo.png",
          "description": "Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "3503 Jack Northrop Ave Suite AH761 ",
            "addressLocality": "Hawthorne",
            "addressRegion": "CA",
            "postalCode": "90250",
            "addressCountry": "USA"
          },
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+7 (985) 128-37-08",
            "contactType" : "customer service"
          }
        }
         </script>

          <!-- Favicon part -->

          <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
          <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
          <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
          <link rel="manifest" href="/assets/images/manifest.json">
          <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#00a300">
          <meta name="apple-mobile-web-app-title" content="Heisen.me">
          <meta name="application-name" content="Heisen.me">
          <meta name="theme-color" content="#ffffff">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/custom-heisen.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/assets/css/footer-style.css" rel="stylesheet" media="all">



  <!-- Google+1 -->
  <script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'ru'}
</script>




    <!-- Start of heisenhelp Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https:///assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="heisenhelp.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script>
<!-- End of heisenhelp Zendesk Widget script -->
</head>
<body>
    <div class="row container">
    <div class="twelve columns nav-bar">
      <div class="eight columns nav-logo">
        <div class="brand">
          <!-- <div class="one columns"> -->
          <!-- </div> -->
          <div class="eight columns brand-name">
            <h5><a href="/" style="text-decoration: none; color: black;">Heisen</a></h5>
          </div>
        </div>
      </div>
      <div class="four columns nav-buttons">


        <!-- <div class="three columns mob-nav-2 p-nav">
          <div >
            <a href="/" title="">О нас</a>
          </div>
        </div> -->
<div class="row twelve columns">
        <div class="six columns p-nav">
          <div >
            <a href="/team.html" title="">Команда</a>
          </div>
        </div>

        <div class="six columns p-nav">
          <div >
            <a href="/faq.html" title="">FAQ</a>
          </div>
        </div>


        </div>
        <!-- <div class="three columns mob-nav-2 p-nav">
        <div >
          <a href= {{ '/profile/'|add:user.person.slack_id}} title="">Проекты</a>
        </div>
        <div >
        </div> -->

        </div>

      </div>
    </div>
  </div>


{{ content }}


    <footer class="block-6" id="colophon">
        <div class="container-fluid">
            <div class="four columns footer-icons">
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@heisenhub%hub20is%20recruiting%20new%20members%20for%20Season%202"><img src="/assets/icons/twitter16.png"></a>
                <a href="https://patreon.com/heisen"><img src="/assets/icons/map25.png"></a>
                <a href="#"><img src="/assets/icons/heisen_logo_white.png"></a>
                <a href="https://facebook.com/bikov.evgeni" target="_blank"><img src="/assets/icons/facebook25.png"></a>
                <a href="http://github.com/evgenity" target="_blank"><img src="/assets/icons/github10.png"></a><br>
                <span>meow@heisen.me</span><br>
                <span>Heisen © <script>document.write( new Date().getFullYear());</script></span>
            </div>
            <div class="eight columns wrap">
                <div class="col">
                    <!-- <b>Проект</b> -->
                    <a href="/team.html">Команда</a><br>
                    <a href="#" class="disabled">Проекты</a><br>
                    <a href="#" class="disabled">Идеи проектов</a><br>
                    <a href="/heisenhub.html">Фид @heisenhub</a><br>
                </div>
                <div class="col">
                    <!-- <b>Контакты</b> -->
                    <a href="#" class="disabled">История</a><br>
                    <a href="#" class="disabled">Партнеры</a><br>
                    <a href="#" class="disabled">Подкасты</a><br>
                </div>
                <div class="col">
                    <!-- <b>Поддержка</b> -->
                    <a href="/faq.html">FAQ</a><br>
                    <a href="#" class="disabled">Как доехать</a><br>
                    <a href="#" class="disabled">Пресскит</a><br>
                    <a href="/kartochka.html">Реквизиты</a><br>
                </div>
               <!--  <div class="col">
                    <b>Язык</b>
                    <a href="#" class="disabled">RU</a>/<a href="#" class="disabled">EN</a><br>
                </div> -->
            </div>
        </div>
    </footer>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40177012 = new Ya.Metrika({ id:40177012, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40177012" style="position:absolute; left:-9999px;" alt="ya" /></div></noscript> <!-- /Yandex.Metrika counter -->
  <!-- GoogleAnalytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-86530898-2', 'auto');
  ga('send', 'pageview');
</script>
</body>
