<!DOCTYPE html>
<html lang="ru">
<!-- Привет, русские хакеры. Денег зашлите лучше, мы хорошее дело делаем, вы же белые хакеры 0x30C3931017C867EfCF60d7d2b57DFe08bC7f7CCD (ETH), 178r6jWZfWJc88qFFgc6NJNgnzK6oSqWvW (BTC) -->
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <div class="block-3 team">
	<div class="container">
		<div class="row">
			<div class="twelve columns block-header">
				<h4 style="color: black;">{{page.title}}</h4>
  {{ content }}
  </div>
</div>
</div>
</div>
  {% include footer.html %}
  {% include counters.html %}

</body>
</html>
